@import "tailwindcss";
@import "nes.css/css/nes.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 64px;
  --navbar-color: #ACC8E5;
  --primary-btn-color: #2072f7;
  --success-btn-color: #37ab3b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.section-flex {
  display: flex;
}

.main-flex {
  display: flex;
}

.nes-container {
  @apply p-4;
}

/* .nes-btn::after {
  @apply pointer-events-none;
}
.nes-btn.is-primary {
  @apply bg-[var(--primary-btn-color)] text-white;
} */

/* .nes-btn.is-primary::after {
  @apply shadow-none;
} */

/* .nes-btn.is-success {
  @apply bg-[var(--success-btn-color)] text-white;
} */

/* .nes-btn.is-success::after {
  @apply shadow-none;
} */

@media (prefers-reduced-motion: reduce) {
  * { animation: none !important ; transition: none !important ; }
}

@layer base {
  section,
  article,
  main,
  aside,
  header,
  footer {
    @apply m-0 p-0 block;
  }
}